* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b3035 !important;
    min-height: 100vh;
    margin-top: 56px !important;
    display: flex;
    flex-direction: column;
  }

.btn-orange {
    background-color: #f76613 !important;
    border: #f76613 !important;
    font-weight: bold !important;
    color: white !important;
}

.btn-orange:hover {
    background-color: #ff7627 !important;
    border: #ff7627 !important;
}

.alert-container {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: auto;
    max-width: 500px;
  }
  
  /* Animasi alert */
  @keyframes fadeOutUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
  .fade-out {
    animation: fadeOutUp 1s forwards;
  }