* {
     background-color: #2B3035;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .btn-orange {
    background-color: #f76613 !important;
    border: #f76613 !important;
    font-weight: bold !important;
    color: white !important;
 }

 .btn-orange:hover {
    background-color: #ff7627 !important;
    border: #ff7627 !important;
 }

